header {
  background-color: #00999a;
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}

#navigation {
  text-decoration: none;
  font-size: large;
  background-color: white;
  text-align: center;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}

#navigation a {
  text-decoration: none;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  color: #00999a;
  background-color: white;
}

#navigation a:hover {
  color: #002525;
}

#navigation li {
  list-style-type: none;
}

body {
  background-color: #004344;
}
