body {
  background-color: #004344;
}

#fields {
  text-decoration: none;
  font-size: large;
  background-color: white;
  text-align: center;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Courier New", Courier, monospace;
  padding: 5px;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  color: white;
  background-color: #00999a;
  text-align: center;
}

#calculateButton {
  font-family: "Courier New", Courier, monospace;
  background-color: #004344;
  color: white;
  width: 200px;
  font-size: 20px;
}

#calculateButton:hover {
  background-color: #00999a;
}
